@{
    ViewData["Title"] = "Delete ProductUsage";
}

@model Shop.Models.ProductUsage

<h1>Удаление использования продукта</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="Delete" >
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Удалить" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-info">Вернуться к списку</a>
            </div>
        </form>
    </div>
</div>
