@{
    ViewData["Title"] = "Заказ отправлен";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Заказ отправлен!</h4>
    <p>Спасибо за покупку!</p>
    <hr>
    <p>Если у вас возникнут вопросы или проблемы, не стесняйтесь связаться с нашей службой поддержки</p>
    <p>Хорошего дня!</p>
</div>
